<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <form action="/user/login" method="post">
        
            <label for="">Email</label>
            <input type="email" placeholder="Email" name="email">
            <label for="">Password</label>
            <input type="text" placeholder="Password" name="password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>